.row {
	padding: 30px;
	
}

.input-field label {
	color: #000;
}

.input-field input[type="text"],
.input-field input[type="password"],
.input-field input[type="email"] {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}

.input-field input[type="text"]:focus + label,
.input-field input[type="password"]:focus + label
.input-field input[type="email"]:focus + label {
	color: #000;
}

