body {
	background-color: #05075E;
}

.carta-principal{
	width: 300px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	color: white;
}

.icono-principal{
	margin-left: 60px;
	font-size: 130px;
}

a{
	margin-top: auto;
	color: white;
}